/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$words-margin: 4px;
$words-box-size: 60px;
$words-border-color: grey;
$fullCorrect: #5ec73e;
$halfCorrect: rgb(255, 216, 42);
$incorrect: rgb(139, 139, 139);



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
