/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$words-margin: 0.5vh;
$words-box-size: 8.75vh;
$words-border-color: grey;
$fullCorrect: #4da930;
$halfCorrect: rgb(207, 176, 40);
$incorrect: rgb(139, 139, 139);



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
